<form class="" action="/waiters/:username" method="post">
  <input type="checkbox" name="days" value="Sunday">
  <input type="checkbox" name="days" value="Monday">
  <input type="checkbox" name="days" value="Tuesday">
  <input type="checkbox" name="days" value="Wednesday">
  <input type="checkbox" name="days" value="Thursday">
  <input type="checkbox" name="days" value="Friday">
  <input type="checkbox" name="days" value="Saturday">
</form>
