<h1>Waiters Availability</h1>


<div class="container-fluid">
    <div class="w3-row-padding">
<form class="">
  <input type="checkbox" name="days" value="Sunday">Sunday
  <input type="checkbox" name="days" value="Monday">Monday
  <input type="checkbox" name="days" value="Tuesday">Tuesday
  <input type="checkbox" name="days" value="Wednesday">Wednesday
  <input type="checkbox" name="days" value="Thursday">Thursday
  <input type="checkbox" name="days" value="Friday">Friday
  <input type="checkbox" name="days" value="Saturday">Saturday
</form>

</div>
</div>
